* {
    margin: 0;
    padding: 0;
}

:root {
    --list-size: 51.4vh;
    --listing-width: 75vw;
    --border-radius: 5px;
}

body {
    background-color: rgba(60, 255, 60, 0.2);
    margin-top: 8px;
}

#navbar {
    background-color: whitesmoke;
    position: relative;
    color: black;
    padding: 10px;
    width: 98%;
    height: 30px;
    margin-left: 5px;
    box-shadow: 10px black;
    z-index: 10;
    border-radius: 50px;
}

#navbar h2 {
    position: absolute;
    transform: translateY(-25px);
    border-bottom: 1.5px solid green;
    border-right: 1.5px solid green;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 125px;
    font-size: 36px;
    width: 26vw;
}

#navbar img {
    position: absolute;
    left: 50px;
    vertical-align: middle;
    padding: 0;
}

.left_side {
    background-color: rgba(60, 255, 60, 1.0);
    margin-top: 10px;
    color: blanchedalmond;
    width: 12vw;
    box-shadow: 5px rgba(0, 0, 0);
    border-radius: 5px;
    float: left;
}

.left_side>* {
    padding: 10px;
    color: black;
    text-align: center;
}

.left_side,
.right_side {
    margin-left: 10px;
}

.left_side>:first-child:hover {
    border-radius: 5px 5px 0 0;
}

.left_side>:last-child:hover {
    border-radius: 0 0 5px 5px;
}

.left_side>div:hover,
.right_side li:hover,
.right_side li:hover:first-child,
.right_side li:hover:last-child {
    background-color: rgb(50, 119, 50, 0.5);
}

.right_side {
    margin: 10px 100px 0 0;
    width: var(--listing-width);
    height: var(--list-size);
    float: right;
}

.right_side li {
    border-bottom: 0.5px solid black;
    width: calc(var(--listing-width) - 1.3vw);
    margin: 0px 75px 0 0;
    background-color: rgba(60, 255, 60, 1.0);
    padding: 10.7px;
    list-style-type: none;
}

.right_side img {
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50px;
}

.right_side li>a {
    text-decoration: none;
    color: black;
}

.right_side .items div>li:first-child,
.right_side .items div>li:first-child:hover {
    border-radius: 10px 0;
}

.right_side .items div>li:last-child,
.right_side .items div>li:last-child:hover {
    border-radius: 0 10px;
}