<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/favico.ico" type="image/x-con">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index_Page.css')}}">
    <link rel="stylesheet" href="../static/styles/admin_Page.css">
    <title>YCP Project Database</title>
    <script defer src="script.js"></script>
</head>

<body>
    <div id="navbar">
        <pre>
            <img src= "{{ url_for('static', filename='icons/yorkCollege.jpg')}}" alt="YCP ICON" width="25px"><h2>YCP Project Database</h2>
        </pre>
    </div>
    <div class="left_side">
        <a id="posts" src="{{ 'url_for(UserView:login)' }}">Login/Signup</a><br/>
        <a id="users" src="{{ 'url_for(UserView:signup)' }}">Manage Account</a><br/>
        <a id="keywords" src="{{ 'url_for(UserView:index)' }}">Index</a><br/>
    </div>
    <div class="right_side">
        <ul class="accounts">
            <div>
                {% for user in Users %}
                <li id="profs">

                    <img src="{{ url_for('staic', filename='icons/profPic.png')}}" alt="Anon" width="25px"><a href={{ user.project }}>{{ user.name }}</a>
                </li>
                {% endfor %}
            </div>
        </ul>
    </div>
</body>

</html>