{% extends "base.html" %}
{% block content %}
<div class="pageHeader" style="margin-bottom: -80px">
    <h1>Project Listing</h1>
</div>

<div class="mainBody">
    {% for item in catalog %}
    <div class="postBox">
        <div class="logoIn">
            <div class="logoInPad">
                <!--<img src="{{ item.logo }}" alt="Logo" width="25" height="30">--></div>
        </div>
        <!-- <a href="selectedproject?id={{item.id}}{% if item is provided %}&isProvided=True{% endif %}"> -->
        <a href={{url_for('ProjectView:view', id=item.id, is_provided=(item is provided))}}>
            <div class="postText">
                <em>{{ item.poster.name }}</em><t style="margin-left: 2%">{{ item.title }}
            </div>
        </a>
        <div class="postBar"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}