{% extends "base.html" %}
{% block content %}
<div class="pageHeader" style="margin-bottom: -80px">
    <h1>Project Listing</h1>
</div>

<div class="mainBody">
    {% for item in catalog %}
    <div class="postBox">
        <div class="logoIn">
            <div class="logoInPad">
                <img src="{{url_for('static', filename='user_pic/'+ item.poster.username +'.png')}}" alt="" width="25" height="25">
            </div>
        </div>
        <a href="{{url_for('ProjectView:view', id=item.id, is_provided=(item is provided))}}">
            <div class="postText">
                <em>{{ item.poster.name }}</em><t style="margin-left: 2%">{{ item.title }}</t>
            </div>
        </a>
        <div class="postBar"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}