{% extends "base.html" %}
{% block content %}
<div class="pageHeader" style="margin-bottom: -80px">
    <h1>{{project.title}}</h1>
</div>

<div class="submissionBody">
    <div class="projectButton">
        <a href="{{url_for('ProjectView:favorite',
            id=project.id, is_provided=(project is provided), favorite=(0 if project in user.get_favorites_catalog() else 1))}}">
            <button>
                {% if project in user.get_favorites_catalog() %}
                    ⭐
                {% else %}
                    ☆
                {% endif %}
            </button>
        </a>
    </div>

    <!-- % if project.can_be_modified_by(user) % -->
    <div class="projectButton">
        <a href="{{url_for('ProjectView:edit', id=project.id, is_provided=(project is provided))}}">
            <button>
                ✏️
            </button>
        </a>
    </div>
    <!-- % endif % -->

    <div class="bodyPadding">
        Company:
        <br/>
        <div style="text-indent: 50px; margin-top: -2px; margin-bottom: -15px;">
            {{project.poster.name}}
        </div>
        <br/>
        Project Details: 
        <br/>
        <div style="text-indent: 50px; margin-top: -2px; margin-bottom: -15px;">
            {{project.description}}
        </div>
        <br/><br/>
        Contact:
    </div>
</div>
{% endblock %}