<!DOCTYPE html>
<!-- Project Listing Page -->
<html>
  <head>
    <title>Project Listings</title>
  </head>
	
  <body>
    <div>
      <h1>Project Listings</h1>
    </div>

    <div>
      <table>
        <tr>
			<th>Company Name</th>
			<th>Brief Summary</th>
			<th>Contact Information</th>
		</tr>

		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>

		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
		<tr>
			<td><!-- Company Name--></td>
			<td><!-- Brief Summary --></td>
			<td><!-- Contact Info --></td>
		</tr>
      </table>
    </div>
  </body>
</html>