{% extends "base.html" %}
{% block content %}
<div class="pageHeader" style="margin-bottom: -80px">
    <h1>{{project.title}}</h1>
</div>

<div class="submissionBody">
    
    {% if project.archived == true %}
        <div class="projectButton">
            <button class = "tooltip">
                🔒
                <span class = "tooltiptext">Project is Archived.</span>
            </button>
        </div>
    {% endif %}

    <div class="projectButton">
        <a href="{{url_for('ProjectView:favorite',
            id=project.id, is_provided=(project is provided), favorite=(0 if project in user.get_favorites_catalog() else 1))}}">
            <button class = "tooltip">
                {% if project in user.get_favorites_catalog() %}
                <span class = "tooltiptext">Click to remove from favorites.</span>
                    ⭐
                {% else %}
                <span class = "tooltiptext">Click to add to favorites.</span>
                    ☆
                {% endif %}
            </button>
        </a>
    </div>

    {% if project.can_be_modified_by(user) %}
        <div class="projectButton">
            <a href="{{url_for('ProjectView:edit', id=project.id, is_provided=(project is provided))}}">
                <button class = "tooltip">
                <span class = "tooltiptext">Click to edit project.</span>
                    ✏️
                </button>
            </a>
        </div>
    {% endif %}

    {% if project.can_be_modified_by(user) %}
        <div class="projectButton">
            <a href="{{url_for('ProjectView:archive', id=project.id, is_provided=(project is provided))}}">
                <button class = "tooltip">
                    {% if project.archived == false %}
                    <span class = "tooltiptext">Click to Archive project.</span>
                        🗑️
                    {% else %}
                    <span class = "tooltiptext">Click to restore project.</span>
                        🔓 
                    {% endif %}
                </button>
            </a>
        </div>
    {% endif %}

    <div class="bodyPadding">
        Company:
        <br/>
        <div style="text-indent: 50px; margin-top: -2px; margin-bottom: -15px;">
            {{project.poster.name}}
        </div>
        <br/>
        Project Details: 
        <br/>
        <div style="text-indent: 50px; margin-top: -2px; margin-bottom: -15px;">
            {{project.description}}
        </div>
        <br/><br/>
        Contact:
    </div>
</div>
{% endblock %}