{% extends "base.html" %}
{% block content %}
<div class="pageHeader">
    <h1>{{ 'Edit' if project else 'Submit' }} Project </h1>
</div>

<!-- Project will only be supplied if we are editing an existing project -->
<form action="{{url_for('ProjectView:edit') if project else url_for('ProjectView:submit')}}" method="POST">	
    <div class="submissionBody">
        <fieldset>
            {% for field in form %}
                {% if field.label.text != 'CSRF Token' %}
                    {% if field.type != "SubmitField" %}
                        {{ field.label.text }} <br>
                    {% endif %}
                    {{ field -}} <br> <br>
                {% endif %}
            {% endfor %}
        </fieldset>
    </div>
</form>
{% endblock %}