<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="/assets/favico.ico" type="image/x-con">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/login_Page.css')}}">
        <!-- <link rel="stylesheet" href="../static/styles/login_Page.css"> -->
        <title> YCP Project Database </title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome To YCP <br>Project Database</h1>
            <form class="form" action="/user/signup/" method="POST">
                <div class="form__items">
                    <fieldset>
                        <legend>Sign-Up</legend>
                        {{ form.csrf_token() }}
                        {{ form.username.label(class="form__label") }}
                        {{ form.username(class="form__input") }}
                        {{ form.password.label(class="form__label") }}
                        {{ form.password(class="form__input") }}
                        {{ form.confirm_password.label(class="form__label") }}
                        {{ form.confirm_password(class="form__input") }}
                        {{ form.user_types(class="radio")}}
                    </fieldset>
                    {{ form.submit(id="login") }}
                    <small>
                        Have an account? <a href="{{ url_for('UserView:login') }}"> Log In</a>
                    </small>
                </div>
            </form>
        </div>
    </body>
</html>
<!-- <label for="username" pattern="[A-z0-9]{8,}" class="form__label"><span>Username</span>
    <input type="text" class="form__input" name="username" id="username" placeholder="Username" required/>
</label>
<input type="radio" id="student" name="user" value="Student">
<label for="Student">Student</label><br>
<input type="radio" id="faculty" name="user" value="Faculty">
<label for="Faculty">Faculty</label><br>
<input type="radio" id="company" name="user" value="Company">
<label for="Company">Company</label> -->