<!DOCTYPE html>
<!-- Submission Page for companies to make the job listing -->
<html>
	<head>
		<title>Project Submission</title>
	</head>

	<body>
	<div>
		<h1>Project Submission</h1>
	</div>
		<form action={{ url_for('SubmissionView:post') }} method="POST">
			<fieldset>
				<p>
				<label>Project Title</label>
				<input type = "text"
					   name = "title"
					   value = " " >
				</p>
				<p>
				<label>Project Summary:</label>
				<input type = "text"
					   name = "projSummary"
					   value = " " >
				</p>
				<p>
					<label>Poster:</label>
					<input type = "text"
							name = "poster"
							value = " " >
				</p>
				<p>
				<input type = "radio" id = "provided" name = "projectType" value = "providedProject">
				<label for = "provided">Provided Project</label>
				<input type = "radio" id = "solicited" name = "projectType" value = "solicitedProject">
				<label for = "solicited">Solicited Project</label>
				</p>
				<p>
				<input type = "submit" value = "Submit" >
				</p>
			</fieldset>
		</form>
	</body>
</html>