<!DOCTYPE html>
<!-- Submission Page for companies to make the job listing -->
<html>
	<head>
		<title>Submission Page</title>
	</head>

	<body>
		<table>
			<tr>
				<td>Company Name:</td>
				<td><!-- add form textbox --></td>
			</tr>
			<tr>
				<td>Project Information:</td>
				<td><!-- add form textbox --></td>
			</tr>
			<tr>
				<td>Contact Information:</td>
				<td><!-- add form textbox --></td>
			</tr>
		</table>
	</body>
</html>